{% extends 'admin/master.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<h1 class="text-center text-info">Chào mừng bạn đến trang quản trị</h1>
{% else %}
<form method="post" action="/admin/login">
    <div class="form-group">
        <label>Username:</label>
        <input class="form-control" name="username">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="password">
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/lib/wow/wow.min.js"></script>
<script src="static/lib/easing/easing.min.js"></script>
<script src="static/lib/waypoints/waypoints.min.js"></script>
<script src="static/lib/counterup/counterup.min.js"></script>
<script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="static/lib/tempusdominus/js/moment.min.js"></script>
<script src="static/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('click', function (event) {
        // Check if the clicked element has the 'custom-button' class
        if (event.target.classList.contains('custom-button')) {
            // Extract the row ID from the data-id attribute
            var rowId = event.target.getAttribute('data-id');

            // Make an AJAX request to get the details for the clicked row
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/get_details/' + rowId, true);
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    // Update the HTML with the details
                    document.getElementById('details-container').innerHTML = xhr.responseText;
                } else {
                    console.error('Request failed with status ' + xhr.status);
                }
            };
            xhr.send();
        }
    });
</script>
<!-- Template Javascript -->
<script src="static/js/main.js"></script>
<script src="static/js/checkAvail.js"></script>
<script src="static/js/addCustomer.js"></script>
{% endif %}
{% endblock %}
