{% extends 'layout/base.html' %}

{% block title %}Đặt phòng{% endblock %}

{% block content %}

<div class="m-5">
    <form id="formData" method="post" action="" class="">
        <div class="mb-3">
            <label for="" class="form-label">Loại phòng:</label>
            <input type="text" class="form-control" id="suite" name="suite" value="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Số lượng phòng:</label>
            <input type="number" class="form-control" id="quantity" placeholder="1" name="quantity">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Ngày đặt phòng:</label>
            <input type="date" class="form-control" id="checkin_day" name="checkin_day">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Ngày trả:</label>
            <input type="date" class="form-control" id="checkout_day" name="checkout_day">
        </div>

    <button type="button" onclick="checkAvail()" class="btn btn-primary">Kiểm tra tình trạng phòng</button>
    </form>
</div>

{% endblock %}