{% extends 'layout/base.html' %}

{% block title %}Phiếu đặt phòng{% endblock %}

{% block content %}
    <div class="container py-5">
        <form id="multi-step-form" method="post">
            <div class="">
                <!-- Step 1 form fields here -->
                <h3>Bước 1: Nhập thông tin đặt phòng</h3>
                <div class="row g-3 d-flex align-items-center justify-content-center">
                    <div class="col-md-12">
                        <p>Chọn phòng</p>
                        <input type="text" class="disabled" value="">
                        <select class="form-select" id="room_type" data-placeholder="">
                            {% for type in room_types %}
                                <option>{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label class="mb-1 d-flex align-items-center justify-content-center" for="">Số lượng</label>
                        <div class="form-floating">
                            <input type="number" class="form-control text-center"
                                   id="room_quantity"
                                   placeholder="" data-target="" data-toggle="datetimepicker" name=""
                                   value="1"/>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label class="mb-1" for=""></label>
                        <div class="form-floating date mt-1" id="date3" data-target-input="nearest">
                            <input type="date" class="form-control"
                                   id="room_checkin_day"
                                   placeholder="Check In" data-target="#date3"
                                   name=""/>
                            <label for="checkin">Ngày đặt phòng</label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label class="mb-1" for=""></label>
                        <div class="form-floating date mt-1" id="date4" data-target-input="nearest">
                            <input type="date" class="form-control "
                                   id="room_checkout_day"
                                   placeholder="Check Out" data-target="#date4"
                                   name=""/>
                            <label for="checkout"> Ngày trả phòng</label>
                        </div>
                    </div>
                </div>
                <div class="container m-3">
                    <div class="row text-center">
                        {#                            <div class="col text-center">#}
                        {#                                <button id="" onclick="checkAvail()" type="button" class="btn btn-primary col-md-6">#}
                        {#                                    Kiểm tra tình trạng phòng#}
                        {#                                </button>#}
                        {#                            </div>#}
                        <div class="col text-center">
                            <button id="btn-next-step-1" onclick="checkAvail()" type="button"
                                    class="btn btn-primary col-md-3">
                                Tiếp theo
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <!-- Step 2 form fields here -->
                <h3>Bước 2</h3>
                <h4>Người đặt phòng</h4>
                <div class="row g-3 mb-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active booker_type" data-bs-toggle="tab" href="#customer">Khách hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link booker_type" data-bs-toggle="tab" href="#receptionist">Lễ tân</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="customer" class="container tab-pane active customer-tab"><br>
                            <div class="row g-3">
                                <div class="col-md-2">
                                    <div class="form-floating mt-1 mb-1">
                                        <input type="text" class="form-control" id="booker_fname"
                                               placeholder="Your Name">
                                        <label for="name">Họ</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mt-1 mb-1">
                                        <input type="text" class="form-control" id="booker_lname"
                                               placeholder="Your Name">
                                        <label for="name">Tên</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mt-1 mb-1">
                                        <input type="text" class="form-control" id="booker_cccd"
                                               placeholder="Your Email">
                                        <label for="email">CCCD</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mt-1 mb-1">
                                        <input type="text" class="form-control" id="booker_phoneNumber"
                                               placeholder="Your Email">
                                        <label for="email">Số điện thoại</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mt-1 mb-1">
                                        <input type="email" class="form-control" id="booker_email"
                                               placeholder="Your Email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mt-1 mb-1">
                                        <input type="email" class="form-control" id="booker_addr"
                                               placeholder="Your Email">
                                        <label for="email">Địa chỉ</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="receptionist" class="container tab-pane fade receptionist-tab"><br>
                            <div class=" d-flex align-items-center justify-content-center">
                                <label>Chọn tên Lễ tân:
                                    <input list="names" id="booker_recep" name="recep"/>
                                </label>
                                <datalist id="names">
                                    {% for name in receptionists %}
                                        <option value="{{ name }}">
                                    {% endfor %}
                                </datalist>
                            </div>
                        </div>
                    </div>

                </div>
                <h4>Thêm khách hàng</h4>
                <div class="row g-3">
                    <div class="col-md-2">
                        <div class="form-floating mt-1 mb-1">
                            <input type="text" class="form-control" id="fname" placeholder="Your Name">
                            <label for="name">Họ</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mt-1 mb-1">
                            <input type="text" class="form-control" id="lname" placeholder="Your Name">
                            <label for="name">Tên</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mt-1 mb-1">
                            <input type="text" class="form-control" id="cccd" placeholder="Your Email">
                            <label for="email">CCCD</label>
                        </div>
                    </div>
                    <div class="col-md-3 mt-1 mb-1  d-flex align-items-center justify-content-evenly">
                        <label for="type">Loại khách</label>
                        <select name="type" id="type">
                            <option value="noi_dia">Nội địa</option>
                            <option value="nuoc_ngoai">Nước ngoài</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating mt-1 mb-1">
                            <input type="text" class="form-control" id="phoneNumber"
                                   placeholder="Your Email">
                            <label for="email">Số điện thoại</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating mt-1 mb-1">
                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mt-1 mb-1">
                            <input type="email" class="form-control" id="addr" placeholder="Your Email">
                            <label for="email">Địa chỉ</label>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" onclick="addCustomer()" class="btn btn-primary">Thêm</button>
                            </div>
                        </div>
                    </div>
                    <table id="customerTable">
                        <thead>
                        <tr>
                            <th>Họ</th>
                            <th>Tên</th>
                            <th>CCCD</th>
                            <th>Loại khách</th>
                            <th>Địa chỉ</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Xóa</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Vương Minh</td>
                            <td>Khánh</td>
                            <td>0792030233</td>
                            <td>Nội địa</td>
                            <td>Nguyễn Kiệm</td>
                            <td>012345</td>
                            <td>email1</td>
                            <td>
                                <button onclick="removeCustomer(this)">X</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Obama</td>
                            <td>Barack</td>
                            <td>09876</td>
                            <td>Nước ngoài</td>
                            <td>Pentagon</td>
                            <td>012345</td>
                            <td>email2</td>
                            <td>
                                <button onclick="removeCustomer(this)">X</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="col text-center">
                                    <button class="btn btn-primary prev-step col-md-3">Quay lại</button>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col text-center">
                                    <button id="btn-next-step-2" type="button" onclick="retrieveCustomer()"
                                            class="btn btn-primary  col-md-3">Hoàn tất
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}